<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>QuandoEsco Calcola Uscita</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    {% include "navbar.html" %}

    <div class="card">
        <div class="card-header text-center">
            <h1>Quando Esco?</h1>
        </div>

        <div class="card-body">

            <p class="text-center">Ciao <b>{{ user.username }}</b> !</p>

            <p class="text-left">Benvenut* su Quando Esco, grazie a questa fantastica app potrai calcolare il
                tuo orario di uscita!</p>

            <p class="text-left">Istruzioni:</p>
            <ul>
                <li>Inserisci la durata della tua giornata lavorativa in ora e minuti</li>
                <li>Inserisci la durata della pausa pranzo in minuti</li>
                <li>Seleziona la data e l'orario di ingresso</li>
                <li>Premi il pulsante 'QuandoEsco?' per calcolare data e ora di uscita!</li>
            </ul>

            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="text-center">
                    <input id="quandoEscoButton" type="submit" class="btn btn-primary" value="Quando Esco?">
                </div>
            </form>

            <div id="fondoPagina">
            {% if uscita %}
                <h2 class="text-center mt-4">Uscita:</h2>
                <p class="text-center">Uscita: {{ uscita|date:"d/m/Y H:i" }}</p>
            {% endif %}

            {% if messaggio_info %}
                <p class="text-center alert alert-info"><b>{{ messaggio_info }}</b></p>
            {% endif %}
            {% if messaggio_danger %}
                <p class="text-center alert alert-danger"><b>{{ messaggio_danger }}</b></p>
            {% endif %}
            {% if messaggio_warning %}
                <p class="text-center alert alert-warning"><b>{{ messaggio_warning }}</b></p>
            {% endif %}
            {% if messaggio_success %}
                <p class="text-center alert alert-success"><b>{{ messaggio_success }}</b></p>
            {% endif %}
            </div>

        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- Script per scrollare al fondo -->
<script>
    // Esegui lo scroll al fondo della pagina quando è carica
    document.addEventListener('DOMContentLoaded', function () {
        {% if scroll_to_bottom %}
        const target = document.getElementById('fondoPagina');
        target.scrollIntoView({ behavior: 'smooth' });
        {% endif %}
    });
</script>

</body>
</html>
