<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>QuandoEsco</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Quando Esco?</h1>
                </div>
                <div class="card-body">

                    <p class="text-center">Ciao {{ user.username }}!</p>

                    <p class="text-center">Benvenut* su Quando Esco, grazie a questa fantastica app potrai calcolare il
                        tuo orario di uscita!</p>

                        <form method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="text-center">
                                <input type="submit" class="btn btn-primary" value="Quando Esco?">
                            </div>
                        </form>

                        {% if uscita %}
                            <h2 class="text-center mt-4">Uscita:</h2>
                            <p class="text-center">Uscita: {{ uscita|date:"d/m/Y H:i" }}</p>
                        {% endif %}

                        {% if messaggio_info %}
                            <p class="text-center alert alert-info"><b>{{ messaggio_info }}</b></p>
                        {% endif %}
                        {% if messaggio_danger %}
                            <p class="text-center alert alert-danger"><b>{{ messaggio_danger }}</b></p>
                        {% endif %}
                        {% if messaggio_warning %}
                            <p class="text-center alert alert-warning"><b>{{ messaggio_warning }}</b></p>
                        {% endif %}
                        {% if messaggio_success %}
                            <p class="text-center alert alert-success"><b>{{ messaggio_success }}</b></p>
                        {% endif %}



                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
