<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <title>QuandoEsco</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center">
                    <h1>Quando Esco?</h1>
                </div>
                <div class="card-body">
                    <p class="text-center">Benvenut* su Quando Esco, grazie a questa fantastica app potrai calcolare il tuo orario di uscita!</p>

                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary" value="Calcola orario di uscita">
                        </div>
                    </form>

                    {% if uscita %}
                        <h2 class="text-center mt-4">Uscita:</h2>
                        <p class="text-center">Orario di Uscita: {{ uscita.ora_uscita }}</p>
                        <p class="text-center">Minuti di Uscita: {{ uscita.minuti_uscita }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
